<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="styles.css">

    <title>Profile</title>
  </head>
  <body style="background-color: ;" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> ProductiveBee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Timeline</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
          <ul class = "navbar-nav ml-auto"> 
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
          </ul> 
        </div>
    </nav>
    <div style="background-color :  ;" class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">Harry Potter</h1>
                <p class="lead"><strong>Email : </strong> harry@hogwarts.edu</p>
                <form>
                    <button class="btn btn-md btn-primary mt-4" type="Submit">Start A Streak!</button>
                </form>
            </div>
            <div style="margin: auto 0;" class="col-md-3 text-right text-bottom">
                <span class="display-4">0</span> 
                <p>Score</p>
            </div>
            <div style="margin: auto 0;" class="col-md-3 text-right align-middle">
                <span class="display-4">1/20</span> 
                <p>Streak</p>
            </div>
        </div>
        
      </div>
    </div>

    <div class="container">
        <div class="row">
            <h3 style="text-align: center;">My Tasks for the Day!</h3>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <ul class="list-group list-group-flush" id="todo">
                    <li class="list-group-item list-group-item-info">Learn Blockchain<a href='#' class='close' aria-hidden='true'>&times;</a>
                        <div class="progress mt-1">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-info">Spend time with family<a href='#' class='close' aria-hidden='true'>&times;</a>
                        <div class="progress mt-1">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">10%</div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-info">Revise React<a href='#' class='close' aria-hidden='true'>&times;</a>
                        <div class="progress mt-1">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">15%</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>    
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
    <script>
        $("body").on('click', '#todo a', function () {
            $(this).closest("li").remove();
        });
    </script>
</body>
</html>